#container{
  display: flex;
  width: 900px;
  justify-content: space-between; /* 左右は端、残りは均等揃え */
}

#preview{
  width:450px;
}

#img{
  border: 1px solid blue;
  z-index: solid;
}

#board{
  border: 1px solid gray;
}


