
body{
  -webkit-text-size-adjust: 100%;
  width: 100vw;
}

#msg{
  font-size: max(1em,1.5vh);
  color: red;
  font-weight: bolder;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#container{
  display: flex;
  width: 100vw;
  justify-content: space-between; /* 左右は端、残りは均等揃え */
}

label > input {
  display:none; /* アップロードボタンのスタイルを無効にする */
}
label {
  font-size: max(1em,1.5vh);
  color: #fff; /* ラベルテキストの色を指定する */
  background-color: #006DD9;/* ラベルの背景色を指定する */
  padding: 10px; /* ラベルとテキスト間の余白を指定する */
  border: double 4px #AAAAAA;/* ラベルのボーダーを指定する */
}

#view{
  width: 100vw;
}

img{
  border: 1px solid blue;
  z-index: solid;
  zoom: 0.3;
  display: block;
  margin: 5px;
}



